/eclipse/
/out/
/.gradle/
/build/
/mcbuild/
/assets

*.old

#idea stuff
levelx.iml
levelx.ipr
levelx.iws

#directory stuff
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
*changelog.txt
mc-build/
